#header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  background: rgba(255, 255, 255, 0.71);
  backdrop-filter: blur(5px);

  .header {
    &--navbar {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(19, 19, 19, 0.11);

      &__icon {
        font-size: 24px;
        transition: .5s;
        display: none;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &__nav {
        display: flex;
        align-items: center;

        h1 {
          font-weight: 400;
          font-size: 36px;
          color: #000000;
          font-family: 'EB Garamond', sans-serif;
        }

        &--a {
          font-weight: 400;
          font-size: 20px;
          color: #000000;
          margin: 5px 25px 0 25px;
        }
      }

      &__block {
        display: flex;
        align-items: center;

        div {
          display: flex;
          align-items: center;
          margin-right: 20px;

          h2 {
            cursor: pointer;
            font-weight: 600;
            font-size: 20px;
            color: #000000;
            margin: 0 2px;
          }
        }

        button {
          font-weight: 400;
          font-size: 16px;
          color: #000000;
          background: #FFC121;
          padding: 8px 15px;
          border-radius: 5px;
          box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
          border: none;
          transition: .4s;
          margin: 0 5px;

          &:hover {
            background: transparent;
          }
        }
      }

      &__bas {
        display: none;

        div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 25px;
        }
      }
    }

    &--link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;

      &__search {
        display: flex;
        align-items: center;

        button {
          font-weight: 400;
          font-size: 20px;
          color: #000000;
          background: #FFC121;
          padding: 0 100px;
          height: 35px;
          border-radius: 5px;
          box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
          border: none;
          transition: .4s;
          margin: 0 5px;

          &:hover {
            background: transparent;
          }
        }

        &--searcher {
          margin-left: 15px;
          width: 230px;
          background: transparent;
          border-radius: 5px;
          border: 1px solid #C1C1C1;
          height: 35px;
          display: flex;
          align-items: center;

          &--icon {
            margin-left: 7px;
            font-size: 20px;
          }

          input {
            background: transparent;
            height: 100%;
            width: 80%;
            margin-left: 10px;
            outline: none;
            border: none;
          }
        }
      }

      &__basket {
        padding: 0 15px;
        height: 35px;
        display: flex;
        background: #FFC121;
        align-items: center;
        border: 1px solid #C6C6C6;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        transition: .4s;
        cursor: pointer;

        &:hover {
          background: transparent;
        }

        p {
          font-size: 18px;
          line-height: 27px;
          display: flex;
          align-items: center;
          color: #000000;
        }

        div {
          height: 15px;
          width: 1px;
          background: black;
          margin: 0 3px;
        }
      }
    }
  }
}

.menu {
  background: rgba(0, 0, 0, 0.69);
  backdrop-filter: blur(7px);
  width: 100%;
  height: 70vh;
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 70px 70px 0 0;
  transition: 1s;
  z-index: 9;

  &--group {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__nav {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        height: 35px;
        width: 170px;
        display: flex;
        background: #FFC121;
        align-items: center;
        border: 1px solid #C6C6C6;
        box-shadow: 0 0 4px 1px rgba(203, 199, 199, 0.25);
        border-radius: 6px;
        transition: .4s;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background: transparent;
          color: white;
        }
      }

      &--a {
        font-weight: 400;
        font-size: 25px;
        color: white;
      }

      span {
        padding: 20px 0;
      }
    }

    &__btn {
      margin-top: 30px;
      width: 100%;
      display: flex;
      justify-content: end;

      div {
        display: flex;
        align-items: center;
        margin-right: 20px;

        h2 {
          cursor: pointer;
          font-weight: 600;
          font-size: 20px;
          color: white;
          margin: 0 2px;
        }
      }

      &--block {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      button {
        height: 35px;
        width: 140px;
        display: flex;
        background: #FFC121;
        align-items: center;
        border: 1px solid #C6C6C6;
        box-shadow: 0 0 4px 1px rgba(203, 199, 199, 0.25);
        border-radius: 6px;
        transition: .4s;
        margin: 0 10px;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background: transparent;
          color: white;
        }
      }
    }
  }
}

.signs {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.56);
  transition: .6s;

  &--group {
    width: 100%;
    display: flex;
    justify-content: center;

    .gr-ani-come {
      animation: 1s gr-ani-come;
      @keyframes gr-ani-come {
        0% {
          transform: translateY(-2000px);
        }
      }
    }

    .gr-ani-leave {
      animation: 1s gr-ani-leave;
      @keyframes gr-ani-leave {
        100% {
          transform: translateY(-2000px);
        }
      }
    }

    &__block {
      position: relative;
      width: 30%;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
      border-radius: 10px;
      margin-top: 120px;
      transition: .8s;

      &--close {
        width: 40px;
        height: 40px;
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 24px;
        border-radius: 0 10px 0 10px;
      }

      h1 {
        font-family: 'EB Garamond', sans-serif;
        font-weight: 400;
        font-size: 36px;
        text-align: center;
        color: #000000;
      }

      &--input {
        width: 70%;
        margin-top: 30px;
        position: relative;
        h3{

        h3 {
          font-weight: 400;
          font-size: 14px;
          color: #404040;
        }

        input {
          width: 99%;
          height: 27px;
          background: transparent;
          outline: none;
          border-radius: 5px;
          border: 1px solid rgba(0, 0, 0, 0.49);
          padding-left: 10px;
        }
        &__icon{
          position: absolute;
          bottom: 0;
          right: 10px;
          font-size: 20px;
        }
      }

      button {
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        background: #FFC121;
        padding: 8px 15px;
        border-radius: 5px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
        border: none;
        transition: .4s;
        margin-top: 20px;

        &:hover {
          background: transparent;
        }
      }
    }
  }
}

.signs-come {
  animation: .8s signs-come;
  @keyframes signs-come {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.signs-leave {
  animation: 1s signs-leave;
  @keyframes signs-leave {
    100% {
      opacity: 0;
    }
  }
}


@media (max-width: 1200px) {
  .signs {
    &--group {
      &__block {
        width: 60%;
      }
    }
  }
}

@media (max-width: 1024px) {
  #header {
    .header {
      &--navbar {
        &__nav {
          h1 {
            font-size: 30px;
          }

          &--a {
            font-size: 16px;
            margin: 8px 10px 0 10px;
          }
        }

        &__block {
          div {
            h2 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 920px) {
  #header {
    .header {
      &--navbar {
        &__nav {
          h1 {
            font-size: 25px;
          }

          &--a {
            font-size: 14px;
            margin: 8px 10px 0 10px;
          }
        }

        &__block {
          div {
            h2 {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    .header {
      &--navbar {
        &__icon {
          display: block;
        }

        &__nav {
          &--a {
            display: none;
          }
        }

        &__block {
          display: none;
        }

        &__bas {
          display: block;
        }
      }

      &--link {
        display: none;
      }
    }
  }

  .signs {
    &--group {
      &__block {
        width: 90%;
      }
    }
  }
}

@media (max-width: 576px) {
  .menu {
    &--group {
      &__nav {
        button {
          height: 30px;
          width: 150px;
        }

        &--a {
          font-size: 20px;
        }

        span {
          padding: 20px 0;
        }
      }

      &__btn {
        div {
          h2 {
            font-size: 17px;
            color: white;
          }
        }

        button {
          height: 30px;
          width: 120px;
        }
      }
    }
  }

  .signs {
    &--group {
      &__block {
        width: 90%;

        h1 {
          font-size: 30px;
        }

        &--input {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 450px) {

}

@media (max-width: 400px) {
  .signs {
    &--group {
      &__block {
        width: 90%;

        h1 {
          font-size: 24px;
        }

        &--input {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 375px) {

}

@media (max-width: 320px) {

}